.positions-box {
    max-width: 400px;
    min-height: 280px;
    margin: 0 auto;
}

.positions-list {
    color: $color-black;
}

.logout-button {
    @include montserat-500-size-16;

    display: block;
    width: 74px;
    height: 44px;
    padding: 10px;
    border: 1px solid $color-gray-secondary;
    border-radius: 12px;
    color: $color-black;
    line-height: 1.5;
    text-transform: capitalize;
    transition: color $transition-hover,
                border-color $transition-hover,
                box-shadow $transition-hover;
                
    &:hover,
    &:focus {
        color: $color-orange;
        border-color: $color-orange;
    }

    &:active {
        color: $color-orange;
        border-color: $color-orange;
        box-shadow: $shadow-btn;
    }
}

@media (min-width: $desktop) {
    .positions-box {
        width: 241px;
        height: 284px;
        margin: 0;
        border-right: 1px solid $color-gray-secondary;
    }    
}