.container {
    position: relative;
    text-align: left;

    &__text {
        margin-bottom: 12px;
    }
}

@media (max-width: $desktop) {
    .container {
        &__text {
            margin-bottom: 8px;
        }
    }
}


