.productModal {
    @include flex-center-column;

    width: 548px;
    padding: 72px 80px 60px;
    border-radius: 24px;
    box-shadow: $shadow-card;
    position: relative;    

    &__title {
        @include montserat-400-size-24;

        padding-top: 24px;
    }

    &__image {
        margin-top: 24px;
        width: 358px;
        height: 186px;
        border-radius: 12px;
        overflow: hidden;

        & img {
            object-fit: contain;
        }
    }

    &__desc {
        padding-top: 24px;

        p {
            @include montserat-500-size-14;

            line-height: 1.2;
        }
    }

    &__details {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding-top: 24px;

        ul {
            li {
                @include montserat-400-size-14;

                text-align: left;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                span {
                    font-weight: 500;
                }
            }
        }
    }

    &__price {
        @include montserat-500-size-20;

        padding-top: 24px;
    }

    &__price_quantity {
        @include montserat-400-size-14;
    }

    &__btnGroup {
        @include flex-center-column;

        padding-bottom: 40px;

        &-button {
            padding-top: 24px;
        }
    }
}

.close-button-box {
    position: absolute;
    top: 24px;
    right: 24px;
}

.post-warning-box {
    margin-top: 24px;
}

.post-warning {
    & p {
        font-size: 14px;
    }
}

.link__btn {
    width: 202px;
    cursor: default;
    padding: 10px;
    border-radius: 24px;
    background: $color-orange;
    box-shadow: $shadow-btn;
    font-family: $font-montserrat;
    color: $color-white;

    &_wide {
        width: 265px;
    }
}