.title {
    color: var(--black);
    font-family: var(--font-marmelad);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

@media (min-width: $desktop) {
    .title {
        font-size: 32px;
    }
}
