.form_list {
    // width: 414px;
    margin-bottom: 16px;

    &__item {
        position: relative;
    }

    &__item:not(:last-child) {
        margin-bottom: 16px;
    }
}

.error {
    @include montserat-400-size-14;
    
    color: #F00;
}

.label {
    margin-bottom: 12px;
}

.container__phone {
    /* Стилі для бібліотеки react-international-phone */
    --react-international-phone-height: 38px;
    --react-international-phone-font-size: 14px;
    --react-international-phone-text-color: black;
    --react-international-phone-border-color: #b4b1b1;
    --react-international-phone-border-radius: 12px;

    &:hover,
    &:focus {
        --react-international-phone-border-color: #ff8b2e;
    }
}

.form-btns-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: $desktop) {
    .form_list {
        width: 414px;
        margin-bottom: 24px;

        &__item:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .error {
        position: absolute;
        left: 0;
        bottom: -16px;
    }

    .container__phone {
        /* Стилі для бібліотеки react-international-phone */
        --react-international-phone-height: 44px;
        --react-international-phone-font-size: 20px;
    }

    .form-btns-list {
        flex-direction: row;
    }
}