.form_list {
    width: 200px;
    margin-top: 24px;

    &__item {  
        position: relative;

        & div {
            & p {
                font-size: 16px;
                color: $color-total-black;
            }
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 12px;
    }
}

.input {
    @include montserat-400-size-16;
    
    width: 172px;
    border: 1px solid $color-gray-secondary;
    border-radius: 8px;
    padding: 4px;
    color: $color-total-black;    
}

.error {
    @include montserat-400-size-14;

    color: #F00;
    text-align: left;
}

.label {
    margin-bottom: 12px;
}

.container__phone {
    /* Стилі для бібліотеки react-international-phone */
    --react-international-phone-height: 44px;
    --react-international-phone-font-size: 20px;
    --react-international-phone-text-color: black;
    --react-international-phone-border-color: #b4b1b1;
    --react-international-phone-border-radius: 12px;

    &:hover,
    &:focus {
        --react-international-phone-border-color: #ff8b2e;
    }
}

.btn {
    width: 161px;
    margin-top: 24px;
}

.btn__icon {
    @include flex-center;

    position: absolute;
    right: 34px;
    top: 34px;
    transition: stroke $transition-hover;

    &:hover,
    &:focus {
        .icon {
            stroke: $color-orange;
        }
    }
}