.empty-cart-modal {
    @include flex-center-column;

    gap: 24px;
    width: 548px;
    height: 382px;
    position: relative;
    padding: 80px;
    text-align: center;
}

.close-button-box {
    position: absolute;
    top: 24px;
    right: 24px;
}

.content-box {
    text-align: center;
}

.title {
    @include montserat-400-size-24;

    margin-bottom: 12px;
}

.title_text_one {
    @include montserat-400-size-16;

    &::after {
        content: '';
        display: block;
        margin-top: 24px;
        width: 368px;
        height: 1px;
        flex-shrink: 0;
        background-color: $color-orange;
    }
}

.text_label{
    @include montserat-400-size-16;
}

.container_img {
    @include flex-center;

    position: relative;
    margin-top: 16px;
    gap: 8px
}

.title_text_email{
    font-family: var(--font-family-montserrat);
    font-size: 12px;
    line-height: 16px;
}

.container__input {
    width: 100%;
    margin-bottom: 32px;
}

.input {
    @include montserat-300-size-20;

    position: relative;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid $color-gray;
    transition: border-bottom $transition-hover;

    &::placeholder {
        @include montserat-300-size-20;

        color: $color-gray;
    }

    &:hover,
    &:focus {
        outline: none;
        border-bottom: 1px solid $color-orange;
    }

}

.error {
    @include montserat-400-size-14;

    position: absolute;
    left:54px;
    bottom: -20px;
    color: #F00;
}

.btn {
    margin: 0 auto;
}

@media (max-width: $desktop) {
    .empty-cart-modal {
        @include flex-center-column;

        gap: 24px;
        width: 290px;
        height: 373px;
        position: relative;
        padding: 80px 16px 32px;
        text-align: center;
    }

    .title {
        @include montserat-500-size-20;

        margin-bottom: 12px;
    }

    .title_text_one {
        @include montserat-400-size-16;

        &::after {
            content: '';
            display: block;
            margin-top: 16px;
            width: 256px;
            height: 1px;
            flex-shrink: 0;
            background-color: $color-orange;
        }
    }

    .text_label{
        @include montserat-400-size-14;

        text-align: left;
    }

    .input {
        @include montserat-300-size-20;

        font-size: 16px;
        position: relative;
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid $color-gray;
        transition: border-bottom $transition-hover;

        &::placeholder {
            @include montserat-300-size-20;

            font-size: 16px;
            color: $color-gray;
        }

        &:hover,
        &:focus {
            outline: none;
            border-bottom: 1px solid $color-orange;
        }

    }

    .error {
        @include montserat-500-size-12;

        position: absolute;
        text-align: left;
        left:50px;
        bottom: -30px;
        color: $color-red;
    }
}