.footer {
    margin: 0 auto;
    padding: 16px;
    background: $color-gray-light;
}

.mobile-nav-container {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-bottom: 24px;
}


.actions-box {
    margin-bottom: 24px;
}

.desktop-nav {
    display: none;
}

@media (min-width: $desktop) {
    .footer {
        display: flex;
        max-width: 1280px;
        padding: 46px 142px 50px 110px;
    }

    .mobile-nav-container {
        margin-bottom: 0;
    }

    .content-box {
        padding-top: 4px;
    }

    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: block;
    }

    .actions-box {
        display: flex;
        gap: 78px;
        margin-bottom: 32px;
    }
}