.form_list {
    margin-bottom: 16px;

    &__item {
        position: relative;

        & input {
            padding-right: 40px;
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 16px;
    }
}

.error {
    @include montserat-400-size-14;
    
    color: #F00;
}

.form-btns-list {
    display: flex;
    flex-direction: column;
    gap: 17px;

    button {
        width: 170px;
    }
}

.btn__icon {
    @include flex-center;

    position: absolute;
    right: 10px;
    top: 27px;
    transition: stroke $transition-hover;

    &:hover,
    &:focus {
        .icon {
            stroke: $color-orange;
        }
    }
}

@media (min-width: $desktop) {
    .form_list {
        width: 357px;
        margin-bottom: 24px;

        &__item:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    .error {
        position: absolute;
        left: 0;
        bottom: -16px;
    }

    .form-btns-list {
        flex-direction: row;
    }

    .btn__icon {        
        top: 46px;
    }
}